@media (max-width: 760px) {
    /* ------------------------------------- GID GERAL ------------------------------------- */
    .estrutura {
        grid-template-columns: 100%;
        grid-template-areas: 
            "header"
            "sidenav"
            "content"
            "anuncios"
            "footer"
        ;
    }

    /* ------------------------------------- HEADER ------------------------------------- */
    .header {grid-template-columns: auto; }

    .logo {margin-bottom: 20px; }

    .header nav a {font-size: 1em;}

    .header li + li {margin-left: 10px;}

    /* ------------------------------------- SIDENAV ------------------------------------- */
    .sidenav {
        padding: 0 30px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-scrolling: -ms-autohiding-scroolbar;
        position: relative;
    }

    @keyframes seta {
        from {right: 30px;}
        to {right: 20px;}
    }

    .sidenav::after {
        content: "→";
        position: absolute;
        top: 5px;
        right: 30px;
        color: rgba(0, 0, 0, .3);
        animation: seta .5s ease-in 0s infinite alternate;
    }

    .sidenav ul {display: flex;}

    .sidenav ul li {flex: 1 0 60px;}

    .sidenav li a {margin: 30px 30px 30px 0;}
}