/* ------------------------------------- ALL ------------------------------------- */

*{list-style: none;text-decoration: none;}

body, html {font-family: "Volkhov", Georgia, serif;}

img {width: 100%; display: block; border-radius: 5px;}

/* ------------------------------------- GID GERAL ------------------------------------- */
.estrutura {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas: 
        "header  header   header"
        "sidenav content  anuncios"
        "footer  footer   footer"
    ;
}

/* #### HEADER ####*/
.header {
    grid-area: header;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center; 
}

.logo {max-width: 200px;}

.header nav ul {display: flex;flex-wrap: wrap;}

.header nav a {
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 1.25em;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px; 
    transition: all .5s ease;
}

.header nav a:hover {background-color: rgba(0, 0, 0, .5);}

.header li + li {margin-left: 30px; }

/* #### SIDENAV #### */
.sidenav {
    grid-area: sidenav;
    background-color: #fafbfc;
    padding: 30px;
}

.sidenav li a {
    display: block;
    min-width: 60px;
    max-width: 100px;
    margin: 0 auto 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15); 
    transition: all .5s ease-out;
}

.sidenav li a:hover {background-color: #b07dfb;}

/* #### CONTENT #### */
.content {
    grid-area: content;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.col-wide {grid-column: 1 / -1;}

.imagem-1 {grid-row: span 2;align-self: flex-end;}

.imagem-2 {align-self: flex-end;}

/*Estilo content*/
p {
    font-size: 1.2em;
    line-height: 1.6em;
    letter-spacing: -0.005em;
    color: rgba(0, 0, 0, .7);
}

.informacoes p + p {margin-top: 30px;}

/*Título*/
.titulo {color: #b07dfb;}

.titulo h1 {
    font-size: 3.75em;
    line-height: 1em;
    font-weight: 700;
}

.titulo span {font-size: 0.875em;font-style: italic;}

/*Características*/
.caracteristicas {display: flex; align-items: flex-start;}

.caracteristicas > div {
    width: 80px;
    text-align: center;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15); 
    position: relative;
}

.caracteristicas div:first-child {margin-right: 30px; }

.caracteristicas span {display: block;color: #b07dfb;}

.numero {
    color: #b07dfb;
    font-size: 3em;
    line-height: 1em;
    margin: 10px auto;
}

.rotulo {
    background-color: #fff;
    border-radius: 0 0 5px 5px; 
    padding: 5px 0;
    position: relative;
    top: 2px;
}

.destaque {
    font-size: 0.875em;
    color: #b07dfb;
    max-width: 16em;
}



.citacao, .atributos{
    align-self: flex-start;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15); 
    background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.citacao p {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    color: #fff;
}

.atributos li {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.125em;
    padding: 15px;
}

.atributos li + li {
    border-top: 2px solid #b07dfb; 
}

/* #### ANÚNCIOS #### */
.anuncios {
    grid-area: anuncios;
    background-color: #fafbfc;
    display: grid;
    align-content: flex-start;
    padding: 30px;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/* #### FOOTER #### */
.footer {
    grid-area: footer;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.footer p {
    color: #fff;
    text-align: center;
    padding: 30px;
}