/* ------------------------------------- ALL ------------------------------------- */

*{
    list-style: none;
    text-decoration: none
}

body, html {
    font-family: "Volkhov", Georgia, serif;
}

img {
    max-width: 100%;
}

/* ------------------------------------- GID GERAL ------------------------------------- */
.estrutura {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas: 
        "header  header   header"
        "sidenav content  anuncios"
        "footer  footer   footer"
    ;
}

/* #### HEADER ####*/
.header {
    grid-area: header;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center; 
}

.logo {
    max-width: 200px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header nav a {
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 1.25em;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px; 
}

.header nav a:hover {
    transition: all 1s ease;
    background-color: rgba(0, 0, 0, .5);
}

.header li + li {
    margin-left: 30px; 
}





















/* #### SIDENAV #### */
.sidenav {
    grid-area: sidenav;
}

.content {
    grid-area: content;
}

.anuncios {
    grid-area: anuncios;
}

.footer {
    grid-area: footer;
}